// colors
:root {
  //text colors
  --black-text: #000;
  --grey-text: #1b1313;
  --green-text: #135a46;
  --white-text: #fff;
  // colors
  --blue: #5fc4d9;
  --grey: #f6faf9;
  --green: #135a46;
  --white: #fff;
}

// breakpoints

// Устройства Large,(компьютеры, менее 1200 пикселей) тут по 992рх
$large: 1199.98px;
// Устройства Medium (планшеты, менее 992 пикселей) тут по 768px
$tablets: 991.98px;
// Устройства X-Small (портретные телефоны, менее 576 пикселей) по 320hx
$phones: 575.98px;

//normalize
@import "./layout/_normalize.scss";

// setups
@import "./mixins/_mixins.scss";
@import "./layout/_fonts.scss";
@import "./layout/_layout.scss";

// blocks
@import "./blocks/_header.scss";
@import "./blocks/_menu.scss";
@import "./blocks/_phone-number.scss";
@import "./blocks/_intro.scss";
@import "./blocks/_features.scss";
@import "./blocks/_about.scss";
@import "./blocks/_team.scss";
@import "./blocks/_menu-acco.scss";
@import "./blocks/_advantages.scss";
@import "./blocks/_reviews.scss";
@import "./blocks/_review.scss";
@import "./blocks/_presentation.scss";
@import "./blocks/_tabs.scss";
@import "./blocks/_order-form.scss";
@import "./blocks/_form.scss";
@import "./blocks/_contacts.scss";
@import "./blocks/_contacts.scss";
@import "./blocks/_footer.scss";
@import "./blocks/_socials.scss";
