.advantages {
  display: flex;

  @include phones {
    flex-wrap: wrap;
  }
}

.advantages__item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 0 2%;

  @include phones {
    flex-direction: row;
    flex-basis: 100%;
    margin-bottom: 1rem;
  }

  &:not(:last-child):after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--grey);
    border-radius: 50%;

    position: absolute;
    right: 0;
    top: 10vh;
    transform: translate(50%, -50%);

    @include tablets {
      top: 8vh;
    }

    @include phones {
      display: none;
    }
  }
}

.advantages__photo {
  width: 20vh;
  height: 20vh;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--grey);

  margin-bottom: rem(36);

  @include tablets {
    width: 16vh;
    height: 16vh;
  }

  @include phones {
    width: 24vmin;
    height: 24vmin;
    flex-shrink: 0;
  }
}

.advantages__icon {
  width: 12vh;
  fill: #54a791;

  @include tablets {
    width: 9vh;
  }

  @include phones {
    width: 14vmin;
  }
}

.advantages__text {
  @include phones {
    text-align: left;

    padding-left: rem(10);
  }
}

.advantages__subtitle {
  @include alegreya(700);
  font-size: rem(27);
  color: var(--black-text);
  letter-spacing: 2px;

  margin-bottom: em(30, 27);

  @include tablets {
    margin-bottom: em(15, 27);
  }

  @include phones {
    line-height: 1;
    margin-bottom: rem(10);
  }
}

.advantages__desc {
  @include alegreya(300);
  font-size: rem(18);
  line-height: lh(24, 18);
  color: var(--grey-text);
}
