.header {
  position: absolute;
  z-index: 5;

  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  height: rem(96);

  @include tablets {
    justify-content: space-between;
  }

  @include tablets {
    height: rem(64);
  }
}

.header__menu {
  flex-grow: 1;
  padding: 0 3vw;

  @include tablets {
    display: none;
  }
}

.header__burger {
  display: none;

  @include tablets {
    display: flex;
    z-index: 15;
    align-items: center;
  }
}

.header .phone-number {
  @include tablets {
    display: none;
  }
}
