.intro {
  background: url("../images/intro/bg-intro.png") center center no-repeat;
  background-size: cover;

  @include tablets {
    background: url("../images/intro/bg-intro-tablets.png") center center /
      cover no-repeat;
  }

  &__container {
    display: flex;
    height: 100%;
    position: relative;

    padding-top: rem(90);

    @include tablets {
      position: static;
      flex-wrap: wrap-reverse;
    }

    @include phones {
      padding-top: 0;
    }
  }
}

.intro__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    width: 100%;
  }
}

.intro__text {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-bottom: 3rem;

  @include tablets {
    align-items: center;
    text-align: center;
  }

  @include phones {
    margin-bottom: 0;
  }
}

.intro__title {
  max-width: rem(352);
  font-weight: 800;

  margin-bottom: em(12, 48);

  @include large {
    margin-bottom: em(12, 48);
    max-width: initial;
  }
}

.intro__desc {
  max-width: rem(352);
  font-size: rem(21);
  @include alegreya(400);
  line-height: lh(30, 21);
  color: var(--white-text);

  margin-bottom: em(14, 21);

  @include large {
    margin-bottom: em(21, 21);
  }

  @include phones {
    font-size: rem(18);
  }
}

.intro__button {
  @include tablets {
    align-self: center;
  }
}

.intro__features {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 50%;
  justify-content: space-between;

  margin-bottom: 3vh;
}

.intro__photo {
  width: 50%;
  display: flex;

  @include tablets {
    width: 100%;
    justify-content: center;
    position: relative;
  }
}

.intro__img {
  object-fit: contain;
}

.intro__sheet {
  position: absolute;
  width: 6%;
  left: -2%;
  bottom: -4%;

  @include tablets {
    width: 9%;
    left: 10%;
    bottom: 25%;
  }
}

.intro__berries {
  position: absolute;
  width: 40%;
  right: 0%;
  bottom: -5%;

  @include tablets {
    width: 70%;
    right: 0;
    bottom: 0;
  }
}
