.intro {
  background: url("../images/intro/bg-intro.png") center center no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    height: 100%;
    position: relative;

    padding-top: rem(90);
  }
}

.intro__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro__title {
  max-width: rem(352);
  font-weight: 800;

  margin-bottom: em(12, 48);

  @include large {
    margin-bottom: em(36, 48);
  }
}

.intro__desc {
  max-width: rem(352);
  font-size: rem(21);
  @include alegreya(400);
  line-height: lh(30, 21);
  color: var(--white-text);

  margin-bottom: em(14, 21);

  @include large {
    margin-bottom: em(21, 21);
  }
}

.intro__features {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 50%;
  justify-content: space-between;

  margin-bottom: 3vh;
}

.intro__photo {
  width: 50%;
  display: flex;
}

.intro__img {
  object-fit: contain;
}

.intro__sheet {
  position: absolute;
  width: 6%;
  left: -2%;
  bottom: -4%;
}

.intro__berries {
  position: absolute;
  width: 40%;
  right: 0%;
  bottom: -5%;
}
