.menu {
  @include alegreya(400);
  font-size: rem(18);
  line-height: lh(30, 18);
  color: var(--white-text);
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  &:hover {
    color: var(--green-text);
  }
}
