.menu-acco {
  background: url("../images/menu-acco/bg-menu.webp") center center / cover
    no-repeat;
}

.menu-acco__content {
  position: relative;
  height: 100%;
}

.menu-acco__title {
  position: absolute;
  top: 100px;
  left: 100px;

  @include phones {
    top: 10%;
    left: 10%;
  }
}

.menu-acco__list {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: flex-end;

  @include tablets {
    position: relative;
  }
}

.menu-acco__item {
  display: flex;

  &--active {
    transition: flex-basis 2s;
  }

  &--active .menu-acco__text {
    max-width: 27vw;
    color: var(--white-text);
    padding: em(50, 16) em(32, 16);

    // выезжает влево
    transition: max-width 0.25s, color 0.2s 0.25s, padding 0.1s 0.1s;

    @include large {
      max-width: 32vw;
    }

    @include tablets {
      max-width: 55vw;

      transition: max-width 0.35s, color 0.2s 0.55s, padding 0.4s;
    }

    @include phones {
      transition: max-width 0.45s, color 0.2s 0.55s, padding 0s 0.1s;

      padding: 1.5em 1em 0;
    }
  }

  &--active .menu-acco__span {
    opacity: 1;

    transition: opacity 0.25s 0.25s;

    @include tablets {
      transition: opacity 0.2s 0.55s;
    }

    @include phones {
      width: 20px;
      height: 20px;

      top: 20px;
      right: 20px;
    }
  }

  &--active .menu-acco__subtitle {
    color: #e7878f;
  }
}

.menu-acco__trigger {
  width: rem(100);
  display: flex;
  align-items: flex-end;

  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover .menu-acco__subtitle {
    opacity: 0.85;
  }

  @include tablets {
    width: 15vw;
  }
}

.menu-acco__subtitle {
  @include alegreya(700);
  font-size: rem(48);
  color: var(--white-text);
  line-height: rem(100);
  white-space: nowrap;
  pointer-events: none;

  transform: rotate(-90deg);
  transform-origin: 0 0;

  margin-bottom: rem(-50);

  @include tablets {
    line-height: 15vw;
  }

  @include phones {
    font-size: 2.5rem;
    margin-bottom: rem(-32);
  }
}

.menu-acco__text {
  position: relative;
  max-width: 0;
  overflow: hidden;
  @include alegreya(400);
  font-size: rem(18);
  line-height: lh(24, 16);
  background-color: rgba(51, 51, 49, 0.8);
  color: transparent;
  padding: 0;

  // уезжает вправо
  transition: color 0.15s, padding 0.15s 0.1s, max-width 0.3s 0.4s;
  transition-timing-function: linear;

  @include tablets {
    transition: color 0.05s, padding 0s 0.1s, max-width 0.4s 0.1s;

    font-size: rem(24);
  }

  @include phones {
    font-size: rem(18);
    transition: color 0.05s, padding 0s 0.1s, max-width 0.45s 0s;
  }
}

.menu-acco__span {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  right: 25px;
  top: 25px;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMy4wLjMsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxOCAxOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTggMTg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiNjNmM2YzY7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMi4yLDlsNS4yLTUuMmMwLjgtMC44LDAuOC0yLDAtMi43bC0wLjQtMC40Yy0wLjgtMC44LTItMC44LTIuNywwTDksNS44TDMuOCwwLjZDMy0wLjIsMS44LTAuMiwxLDAuNkwwLjYsMQ0KCWMtMC44LDAuOC0wLjgsMiwwLDIuN0w1LjgsOWwtNS4yLDUuMmMtMC44LDAuOC0wLjgsMiwwLDIuN0wxLDE3LjRjMC44LDAuOCwyLDAuOCwyLjcsMEw5LDEyLjJsNS4yLDUuMmMwLjgsMC44LDIsMC44LDIuNywwbDAuNC0wLjQNCgljMC44LTAuOCwwLjgtMiwwLTIuN0wxMi4yLDl6Ii8+DQo8L3N2Zz4NCg==");

  opacity: 0;
  z-index: 20;
}
