.menu {
  @include alegreya(400);
  font-size: rem(18);
  line-height: lh(30, 18);
  color: var(--white-text);
}

.menu__list {
  display: flex;
  justify-content: space-between;

  &--vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    @include alegreya(700);
    font-size: rem(36);
    line-height: lh(72, 36);
    color: var(--white-text);
    text-align: center;
  }
}

.menu__link {
  &:hover,
  &:focus {
    color: #dee1c3;
  }
}
