.phone-number {
  @include alegreya(400);
  font-size: rem(24);
  line-height: lh(30, 24);
  color: var(--white-text);
  display: flex;
  align-items: center;

  &__tel:hover,
  &__tel:focus {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.35));
  }

  &__icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    fill: var(--white-text);
  }
}
