.reviews {
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.reviews__title {
  z-index: 5;

  margin-bottom: em(24, 48);
}

.reviews__content {
  background-color: var(--grey);
  position: relative;

  padding: 5%;
  margin-bottom: rem(32);

  &::before {
    content: "";
    display: block;
    width: 10vmin;
    height: 10vmin;
    background-color: var(--white);
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
  }

  &::after {
    content: "";
    display: block;
    width: 10%;
    height: 35%;
    background: url("../images/reviews/review-leaf.webp") top right / contain
      no-repeat;

    position: absolute;
    top: 0;
    right: 0;

    @include phones {
      width: 30%;
    }
  }
}

.reviews__wrapper {
  overflow: hidden;
}

.reviews__list {
  display: flex;

  position: relative;
  left: 0%;

  transition: left 0.6s ease-in-out;

  // из-за листьев в правом верхнем углу
  z-index: 5;
}

.reviews__tabs {
  display: flex;
}

.reviews__decor {
  position: absolute;
  bottom: 110%;
  right: -8%;

  @include phones {
    display: none;
  }
}
