.slider {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.slider-cell {
  width: 100%;
  display: flex;
  flex-shrink: 0;

  @include tablets {
    flex-direction: column;
    justify-content: center;
  }
}

.slider-cell__photo {
  width: 50%;
  display: flex;
  align-items: center;

  @include tablets {
    width: 100%;
    justify-content: center;
  }

  @include phones {
    width: 80%;
    margin: 0 auto;
  }
}

.slider-cell__content {
  width: 50%;

  padding: 0 5%;

  @include tablets {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: rem(16) 0 0;
  }

  @include phones {
    max-width: rem(340);
    margin: 0 auto;
  }
}

.slider-cell__compound {
  display: inline-flex;
  position: relative;
  width: rem(90);
  height: rem(90);
  background-color: var(--blue);
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: var(--white-text);
  fill: var(--white-text);
  border-radius: 5px;
  cursor: pointer;

  margin-bottom: rem(24);

  @include tablets {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: rem(90);
    left: 0;
    top: 100%;
    display: none;
  }

  &:hover::after {
    display: block;
  }

  &:hover {
    background-color: var(--dark-blue);
  }

  &:hover &-list {
    opacity: 0.95;
    pointer-events: auto;
    cursor: auto;
  }

  &-icon {
    width: rem(54);
    height: rem(54);

    margin-bottom: 4px;
  }

  &-title {
    text-transform: uppercase;
    line-height: 1;
  }

  &-list {
    display: block;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: rem(90);
    pointer-events: none;

    font-size: rem(16);
    @include alegreya(500);
    line-height: lh(24, 16);
    color: var(--black-text);
    fill: var(--black-text);
    background-color: var(--white);
    opacity: 0;
    border-radius: 5px;

    padding: 10% 25%;
  }

  &-row {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &-data {
    white-space: nowrap;

    &:nth-child(2) {
      padding: 0 30px;
    }
  }

  &-pic {
    width: rem(36);
    height: rem(36);
  }
}

.slider-cell__title {
  @include alegreya(700);
  font-size: rem(36);
  color: var(--black-text);
  text-transform: uppercase;
  line-height: 1.2;

  margin-bottom: rem(16);

  @include tablets {
    font-size: rem(30);
  }

  @include phones {
    font-size: rem(26);
    margin-bottom: 0.5rem;
  }
}

.slider-cell__desc {
  font-size: rem(18);
  @include alegreya(400);
  color: var(--grey-text);
  line-height: lh(24, 18);

  margin-bottom: rem(24);

  @include phones {
    margin-bottom: 0.5rem;
  }
}

.slider-cell__info {
  font-size: rem(18);
  @include alegreya(400);

  margin-bottom: rem(24);

  @include phones {
    margin-bottom: 1rem;
  }

  &-row--bold {
    font-weight: bold;
  }

  &-data {
    min-width: rem(144);
  }
}

.slider-cell__footer {
  display: flex;
}

.slider-cell__price {
  display: inline-block;
  min-width: rem(144);

  font-size: rem(60);
  @include alegreya(400);
  line-height: 1;
  color: #151515;

  @include tablets {
    margin-right: rem(16);
  }
}
